.about {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 45px);
}

.about .biography {
    white-space: pre-line;
}

.about .top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  background-color: var(--black-bg);
  flex-shrink: 0;
  flex-grow: 0;
}

.about .top h1 {
  font-family: var(--decorative-font);
  font-size: 10vh;
  padding: 30px 20px 50px 20px;
  margin: 0;
  text-align: center;
  color: var(--white-color);
}

.about .content {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
}

.about .content .photo {
  width: 20%;
  flex-shrink: 0;
  background-image: url('../img/avatar.jpg');
  background-size: cover;
  background-position: 0 0;
}

.about .content .description {
  max-width: 600px;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  
  .about .content .photo {
    width: 40%;
  }

}

@media screen and (max-width: 425px) {

  .about .top h1 {
    padding: 20px 20px 40px 20px;
    font-size: 6vh;
  }

  .about .content {
    flex-direction: column;
  }

  .about .content .photo {
    width: 100%;
    height: 450px;
  }

}

